aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
click
colorama
Flask
frozenlist
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
multidict
numpy
openai
pandas
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tmdbv3api
tqdm
tzdata
urllib3
Werkzeug
yarl
waitress
